/Added BS5.html
/Added Carousel.html
/Added Jumbotron.html
/Added Lists and Pros.html
/Added Themes and Contras.html
/macilaci plakát
/Projekt .docx
/Robotok a mindennapokban.pptx
/simonyi_interju_kovacev_toldy.docx
/Önvezető autók 2.pptx